.headerbar{
    width:100%;
    height:50px;
    background-color:white;
}
.headerbarwrapper{
    height:100%;
    padding:0px 20px;
    display: flex;
    align-item: center;
    justify-content: space-between;


}
.headerIconsContainer{
    position: relative;
    cursor:pointer;
    margin-right:10px;
}
.topright{
    display:flex;
    align-item:center;
}
.logo{
    font-weight:bold;
    font-size:30px;
    color: darkblue;
    cursor:pointer;
}